body {
  background-color: #001931;
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
  color: rgb(228, 255, 190) !important;
}

.App {
  text-align: center;
}

h1 {
  text-align: center;
  font-size: 3rem;
  color: rgb(228, 255, 190) !important;
  margin-bottom: 40px !important;
}

.main-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 10px;
}

.left-pane,
.right-pane {
  width: 100%;
}

@media (min-width: 768px) {
  .main-container {
    flex-direction: row;
  }
  
  .left-pane, .right-pane {
    width: 50%;
  }
}

.left-pane {
  padding-right: 10px;
  border-right: 1px solid #f0fcad;
}

@media (max-width: 1366px) {
  .left-pane {
    border-right: none;
  }
}

.right-pane {
  padding-left: 10px;
}

input[type="text"],
input[type="number"] {
  padding: 12px;
  border-radius: 6px;
  border: 2px solid #ccc;
  font-size: 16px;
  width: 50%;
}

label {
  font-weight: bold;
  margin-bottom: 10px;
  display: block;
  color: rgb(228, 255, 190) !important;
}

.data-vis-wrapper .recharts-responsive-container {
  display: flex;
  justify-content: center;
}

.event {
  width: 450px;
  padding: 15px;
  margin-bottom: 10px;
  background-color: #1a002b;
  border: 1px solid #ccc;
  border-radius: 6px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  text-align: left;
  list-style: none !important;
}

.event .details-btn {
  background-color: #ddd;
  padding: 6px 10px;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.event .details-btn:hover {
  background-color: #66c2a5;
  color: #fff;
}

@media (max-width: 915px) {
  .App {
    padding: 2%;
  }
  
  .CitySearch {
    flex-direction: column;
    align-items: center;
  }

  .city {
    width: 100%;
  }

  .event {
    padding: 10px;
  }

  .details-btn {
    margin-top: 10px;
  }

  .main-container {
    flex-direction: column;
  }
}

.CitySearch {
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  margin-left: 100px;
  width: 50%;
  margin-bottom: 15px;

}

.suggestions li {
  padding: 8px;
  cursor: pointer;
  list-style: none;
}

.suggestions li:hover {
  background-color: #210035;
}

.suggestions li b {
  font-weight: normal;
}

input[type="text"]:focus {
  border-color: #66c2a5;
}

.city {
  width: 250px;
}

label {
  font-weight: bold;
  margin-bottom: 10px;
}

.CitySearch {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 100%;
  margin: auto;
  position: relative;
}

@media only screen and (min-width: 768px) {
  .CitySearch {
    flex-direction: row;
    justify-content: center;
  }
  .city {
    margin-right: 10px;
  }
}