.WelcomeScreen {
    position: fixed;
    background: #002a3a;
    width: 100%;
    height: 100%;
    top: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    box-sizing: border-box;
    text-align: center;
    color: #635e5e;
}

.container {
    background-color: #001931;
    padding: 40px;
    border-radius: 5px;
}

h1 {
    font-size: 2.5em;
    color: #444444;
    margin-bottom: 10px;
    font-family: 'Roboto', sans-serif;
}

h4 {
    color: #d8d8d8;
    margin-bottom: 30px;
    font-family: 'Roboto', sans-serif;
}

.button_cont {
    margin-bottom: 20px;
}

.google-btn {
    width: 300px;
    height: 60px;
    background-color: #0547fe;
    border-radius: 30px;
    border: none;
    color: #ffffff;
    font-size: 16px;
    font-family: "Roboto", sans-serif;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    transition: background-color 0.3s, box-shadow 0.3s, transform 0.3s;
    cursor: pointer;
    position: relative;
}

.google-btn:hover {
    background-color: #002a3a;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
    transform: scale(1.05);
    cursor: pointer;
}

b {
    cursor: pointer;
}

.google-icon-wrapper {
    position: absolute;
    left: 10px;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.google-icon {
    width: 24px;
    height: 24px;
    margin-left: 2px;
}

.btn-text {
    color: #ffffff;
    font-size: 16px;
    letter-spacing: 0.5px;
    font-family: "Roboto", sans-serif;
    background-color: transparent;
    border: none;
    margin-left: 50px;
}

a {
    text-decoration: none;
    background: linear-gradient(45deg, #ca724a, #e6bb5e);
    padding: 12px 24px;
    color: #ffffff;
    font-weight: bold;
    border-radius: 30px;
    display: inline-block;
    transition: background 0.3s, transform 0.3s, box-shadow 0.3s;
}

a:hover {
    background: linear-gradient(45deg, #e6b01d, #d38404);
    color: #ffffff;
    transform: translateY(-4px);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
}
